.m-loader,
.loader_img-outer {
    top: 0;
    left: 0;
    background-color: #f4f4f4
}

.m-loader {
    z-index: 99999;
    position: fixed;
    width: 100%;
    height: 100%
}

.loader_img-outer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 160px;
    height: 190px;
    margin: auto;
    text-align: left
}

.h_logo,
.hide .loader_img-outer,
.loader_img--last {
    background-color: #21b7b6
}

.loader_img img {
    position: relative;
    top: 54px;
    left: 40px;
    -webkit-transition: opacity .15s cubic-bezier(.5, 0, 1, .6);
    transition: opacity .15s cubic-bezier(.5, 0, 1, .6)
}

.loader_img--first,
.loader_img--last {
    position: absolute;
    left: 0;
    width: 160px;
    height: 190px
}

.loader_img--last {
    width: 0;
    -webkit-transition: width .3s cubic-bezier(.9, .01, .1, 1);
    transition: width .3s cubic-bezier(.9, .01, .1, 1)
}

.hide .loader_img img {
    opacity: 0
}

.hide .loader_img-outer {
    width: 80%;
    height: 1px;
    -webkit-transition: height .33s cubic-bezier(.5, 0, 1, .6), width .26s cubic-bezier(.755, 0, .8, 1) .4s, opacity .3s ease .56s;
    transition: height .33s cubic-bezier(.5, 0, 1, .6), width .26s cubic-bezier(.755, 0, .8, 1) .4s, opacity .3s ease .56s
}

.m-loader.hide {
    opacity: 0;
    -webkit-transition: .3s cubic-bezier(.9, .1, 0, 1) .66s;
    transition: .3s cubic-bezier(.9, .1, 0, 1) .66s
}